<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smsex">

    <!--유저한테 문자좀 받겠다고 권한요청-->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SMSEx">
        <receiver
            android:name=".MyReceiver"
            android:enabled="true"
            android:exported="true">
            <!-- intent-filter로 받을 글로벌이벤트를 추가해야 한다 -->
        </receiver>
        <!--SmsReceiver클래스로다가 SMS_RECIEVED를 받을것이다-->
        <receiver
            android:name=".SmsReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SmsActivity" />
    </application>

</manifest>